<a href="https://colab.research.google.com/github/mustafaktaas/Python_Practices_Akbank_Bootcamp/blob/main/PythonPreject5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 5
##Pandas
The sales department wants to compare the performances of this and last year. Firstly, they delivered your team the performance review from last year. The data is in a comma-separated format, a .csv file called ‚Äúemployee_revenue_lastyear.csv‚Äù. It is in tabular form and includes information about 11 employees.

###Importing libraries
First, you need to import the required libraries. 

üìå Import the Pandas and NumPy libraries.

In [ ]:
#Import Pandas and NumPy

###Get the data from last year
Next, you need to get the data from the .csv file that the sales team provided. 

üìå Use the .read_csv() function of the Pandas library to import the data from "employee_revenue_lastyear.csv" and assign it to the variable "last_year".

In [ ]:
#Read the data from the "employee_revenue_lastyear.csv" file using the .read_csv() method

###Check the imported data
It is important to check if everything is included. But you don't need to see the whole DataFrame, it will be enough to see the first and last rows.

üìå Use the .head() function to get the first n-rows of the DataFrame:
  1. Without specifying any number to get the first 5 rows by default.
  2. Give a number n as an argument to print the first n-rows, for example 8.

In [ ]:
#Use the .head() function without specifying any number

In [ ]:
#Use the .head() function with a number n as an argument

üìå Use the .tail() function to get the last n-rows of the DataFrame:
  1. Without specifying any number to get the last 5 rows by default.
  2. Give a number n as an argument to print the last n-rows, for example 6.

In [ ]:
#Use the .tail() function without specifying any number

In [ ]:
#Use the .tail() function with a number n as an argument

Another way to quickly get the number of rows and columns is using the shape attribute.

üìå Use the *shape* attribute to display the number of rows and columns.

In [ ]:
#Use the shape attribute to display the number of rows and columns

If you want to get more details about the DataFrame, you can use the .info() function.

üìå Use the .info() function to get more details about the DataFrame.

In [ ]:
#Use the .info() function to get more details

###Add information to the DataFrame
Now you should have enough insights about the DataFrame. :)

You know that the data in the DataFrame is from 2021. This information should be included, so you decide to add the column "Year".

üìå Add the column "Year" to the DataFrame and pass the value "2021" to its rows. Then display the DataFrame to see the result.

In [ ]:
#Add the column "Year" and assign the value "2021" to its rows

#Display the DataFrame

### Get the data from this year

You also need to add the data from this year to be able to compare both years.
You already prepared this data in chapter 4.

üìå Copy and paste the NumPy arrays "names", "call_numbers", "average_deal_sizes", and "revenues" from chapter 4.

In [ ]:
#Copy and paste the NumPy arrays "names", "call_numbers", "average_deal_sizes", and "revenues"

Now create a DataFrame using these arrays. 

üìå Create a dictionary with the arrays. Specify the column names in the keys.

üìå Convert the dictionary to a Pandas DataFrame "current_year" and use the .head() function to check it.

In [ ]:
#Create a dictionary with the column names as keys and the arrays as values

#Convert the dictionary to a Pandas Dataframe

#Use the .head() function to check it

Similar to what we did with last year's data, add the year information.

üìå Add the column "Year" to the DataFrame and pass the value "2022" to its rows. Then use the .head() function to see the result.

In [ ]:
#Add the column "Year" and assign the value "2022" to its rows

#Use the .head() function to see the result

###Compare the two DataFrames

Now that you printed the DataFrame "current_year", print "last_year" as well to compare them.

üìå Use the .head() function to print the DataFrame "last_year".

In [ ]:
#Use the .head() function to print the DataFrame "last_year"

You notice that the column names of the two DataFrames are different. You need to fix this problem.

üìå Assign the column names of "last_year" to "current_year" by using the *columns* attribute.

In [ ]:
#Use the columns attribute to assign the column names of "last_year" to "current_year"

### Concatenate two DataFrames
Now that the two DataFrames have the same column names, You can merge - or concatenate - them into a single DataFrame "all_data".

üìå Use the .concat() function with the argument "axis" set to 0. Then display the DataFrame.

In [ ]:
#Use the .concat() function to concatenate the two DataFrames

#Display the DataFrame "all_data"

###Check the data

This worked out well, but you noticed that the indexes are incorrect. You need to reset them.

üìå Use the .reset_index() function. Set the arguments "drop" and "inplace" to "True". Then display the DataFrame.

In [ ]:
#Use the .reset_index() function to reset the indexes

#Display the DataFrame "all_data"

Next, you need to check the entries for missing values.

üìå Use the isna.() and .any() function to see if there are missing values in the DataFrame.

In [ ]:
#Check the DataFrame for missing values

From the output, you see that there are missing values in the columns "Average deal size" and "Revenue". You decide to fix this problem by filling the missing values using with the mean of the respective column.

üìå Use the .fillna() function to fill the missing values. Use the .mean() function to set the argument "value" to the mean of "all_data". Again, set "inplace" to "True".

In [ ]:
#Replace the missing values with the mean of the respective column

#Display the DataFrame

Also, there may be some duplicated rows, you need to drop them.

üìå Use the .drop_duplicates() method to remove any duplicated rows.

üìå Reset the indexes again using the reset_index() function.

In [ ]:
#Drop the duplicates

#Reset the indexes

#Display the DataFrame

### Data analysis
#### Statistical analysis
The DataFrame is ready, great!

Now you can use it to analyse the overall performance of the employees over the last two years. You prepare a summary of the statistics.

üìå Use the .describe() method.

In [ ]:
#Use the .descrbe() method to get a summary of the statistics

You can do the same for each year separately. 

üìå Prepare a summary of the statistics for the data from 2021.

üìå Prepare a summary of the statistics for the data from 2022.

In [ ]:
#Use the .descrbe() method to get a summary of the statistics for 2021

#Use the .descrbe() method to get a summary of the statistics for 2022

#### Ranking of the employees by revenue
You also want to rank the employees by the generated revenue. 

üìå Use the .sort_values() method to sort the values by the column ‚ÄúRevenue‚Äù.

In [ ]:
#Sort the DataFrame by the column "Revenue"

As you did with the .describe() function, you can also use conditions to filter information. 

üìå Sort the revenue values of 2022.

In [ ]:
#Sort the revenue values od 2022

#### How many years of employment?

Finally, you can count how many times an employee appears in the DataFrame to determine which employee has worked for the company for two years.

üìå Use the value_counts() function for the column "Name".

In [ ]:
#Count how often the names of the employees appear in the DataFrame